body {
    color:white;
    background: rebeccapurple;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: powderblue;
    text-align: center;
}
.projects { display:flex; flex-wrap:wrap; }
    .project {
        width: 30%;
        margin: 10px;
        padding: 20px 10px;
        background: powderblue;
        border-radius: 25%;
        color: black;
}
.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid black;
    display: block;
    margin: auto;
}
a {
    text-decoration: none;
    text-align: center;
    color: white;
}
.project p {
    text-align: center;
    margin: 15px;
}
